incident/model/src/main/resources/com/consol/citrus/samples/incident/schema/IncidentManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IncidentManager"
                  xmlns:tns="http://www.citrusframework.org/schema/samples/IncidentManager/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://www.citrusframework.org/schema/samples/IncidentManager/v1"
                  xmlns="http://www.w3.org/2001/XMLSchema">

  <wsdl:documentation>Version 1.0</wsdl:documentation>

  <wsdl:types>
    <xs:schema xmlns="http://www.citrusframework.org/schema/samples/IncidentManager/v1"
               xmlns:xs="http://www.w3.org/2001/XMLSchema"
               targetNamespace="http://www.citrusframework.org/schema/samples/IncidentManager/v1"
               version="1.0"
               elementFormDefault="qualified"
               attributeFormDefault="unqualified">

      <xs:complexType name="CustomerType">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="firstname" type="xs:string"/>
          <xs:element name="lastname" type="xs:string"/>
          <xs:element name="address" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="IncidentType">
        <xs:sequence>
          <xs:element name="ticketId" type="xs:string"/>
          <xs:element name="captured" type="xs:dateTime"/>
          <xs:element name="state" type="tns:StateType"/>
          <xs:element name="component" type="tns:ComponentType"/>
          <xs:element name="description" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="StateType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NEW"/>
          <xs:enumeration value="IN_PROGRESS"/>
          <xs:enumeration value="FIXED"/>
          <xs:enumeration value="CLOSED"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="ComponentType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NETWORK"/>
          <xs:enumeration value="HARDWARE"/>
          <xs:enumeration value="SOFTWARE"/>
          <xs:enumeration value="OTHER"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:element name="OpenIncident">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="incident" type="tns:IncidentType"/>
            <xs:element name="customer" type="tns:CustomerType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="OpenIncidentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ticketId" type="xs:string"/>
            <xs:element name="scheduled" minOccurs="0" type="xs:dateTime"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="IncidentFault">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ticketId" type="xs:string"/>
            <xs:element name="errorCode" type="xs:string"/>
            <xs:element name="errorMessage" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="OpenIncident">
    <wsdl:part name="parameters" element="tns:OpenIncident"/>
  </wsdl:message>

  <wsdl:message name="OpenIncidentResponse">
    <wsdl:part name="parameters" element="tns:OpenIncidentResponse"/>
  </wsdl:message>

  <wsdl:message name="IncidentFault">
    <wsdl:part name="fault" element="tns:IncidentFault"/>
  </wsdl:message>

  <wsdl:portType name="IncidentManager">
    <wsdl:operation name="openIncident">
      <wsdl:input name="OpenIncident" message="tns:OpenIncident"/>
      <wsdl:output name="OpenIncidentResponse" message="tns:OpenIncidentResponse"/>
      <wsdl:fault name="IncidentFault" message="tns:IncidentFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:service name="IncidentManager">
    <wsdl:port name="IncidentManagerJMS"
               binding="tns:IncidentManagerJMSBinding">
      <soap:address location="JMS.Citrus.v1.IncidentManager"/>
    </wsdl:port>

    <wsdl:port name="IncidentManagerHTTP"
               binding="tns:IncidentManagerHTTPBinding">
      <soap:address location="http://localhost:18003/incident/IncidentManager/v1"/>
    </wsdl:port>
  </wsdl:service>

  <wsdl:binding name="IncidentManagerJMSBinding"
                type="tns:IncidentManager">
    <soap:binding style="document" transport="http://www.w3.org/2010/soapjms/"/>
    <wsdl:operation name="openIncident">
      <soap:operation style="document" soapAction="/IncidentManager/openIncident"/>
      <wsdl:input name="OpenIncident">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="OpenIncidentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IncidentFault">
        <soap:fault use="literal" name="IncidentFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="IncidentManagerHTTPBinding"
                type="tns:IncidentManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="openIncident">
      <soap:operation style="document"
                      soapAction="/IncidentManager/openIncident"/>
      <wsdl:input name="OpenIncident">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="OpenIncidentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IncidentFault">
        <soap:fault use="literal" name="IncidentFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

</wsdl:definitions>
