sample-wsdl/src/test/resources/schema/TodoList.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://citrusframework.org/samples/todolist" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="TodoList" targetNamespace="http://citrusframework.org/samples/todolist">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://citrusframework.org/samples/todolist"
               targetNamespace="http://citrusframework.org/samples/todolist" elementFormDefault="qualified">

      <xs:element name="addTodoEntryRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="addTodoEntryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="success" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="getTodoListRequest"/>

      <xs:element name="getTodoListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="list">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="todoEntry" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                        <xs:element name="title" type="xs:string"/>
                        <xs:element name="description" type="xs:string" minOccurs="0"/>
                        <xs:element name="attachment" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="cid" type="xs:string"/>
                              <xs:element name="contentType" type="xs:string"/>
                              <xs:element name="data" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="done" type="xs:boolean" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="addTodoEntryRequest">
    <wsdl:part element="tns:addTodoEntryRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addTodoEntryResponse">
    <wsdl:part element="tns:addTodoEntryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getTodoListRequest">
    <wsdl:part element="tns:getTodoListRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getTodoListResponse">
    <wsdl:part element="tns:getTodoListResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="TodoList">
    <wsdl:operation name="addTodo">
      <wsdl:input message="tns:addTodoEntryRequest"/>
      <wsdl:output message="tns:addTodoEntryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="listTodos">
      <wsdl:input message="tns:getTodoListRequest"/>
      <wsdl:output message="tns:getTodoListResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="TodoListSOAP" type="tns:TodoList">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addTodo">
      <soap:operation soapAction="addTodo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listTodos">
      <soap:operation soapAction="listTodos"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="TodoList">
    <wsdl:port binding="tns:TodoListSOAP" name="TodoListSOAP">
      <soap:address location="http://localhost:8080/services/ws/todolist"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>