demo/sample-javaee/src/main/resources/wsdl/SmsGateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SmsGateway"
                  xmlns:tns="http://www.smsgateway.org/schema/SmsGateway/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://www.smsgateway.org/schema/SmsGateway/v1"
                  xmlns="http://www.w3.org/2001/XMLSchema">

  <wsdl:documentation>Version 1.0</wsdl:documentation>

  <wsdl:types>
    <xs:schema xmlns="http://www.smsgateway.org/schema/SmsGateway/v1"
               xmlns:xs="http://www.w3.org/2001/XMLSchema"
               targetNamespace="http://www.smsgateway.org/schema/SmsGateway/v1"
               version="1.0"
               elementFormDefault="qualified"
               attributeFormDefault="unqualified">

      <xs:element name="SendSmsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="communicationId" type="xs:string"/>
            <xs:element name="msisdn" type="xs:long"/>
            <xs:element name="text" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="SendSmsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="communicationId" type="xs:string"/>
            <xs:element name="success" type="xs:boolean"/>
            <xs:element name="statusCode" type="xs:int"/>
            <xs:element name="statusMsg" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="SmsFault">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="communicationId" type="xs:string"/>
            <xs:element name="errorCode" type="xs:string"/>
            <xs:element name="errorMessage" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="SendSmsRequest">
    <wsdl:part name="parameters" element="tns:SendSmsRequest"/>
  </wsdl:message>

  <wsdl:message name="SendSmsResponse">
    <wsdl:part name="parameters" element="tns:SendSmsResponse"/>
  </wsdl:message>

  <wsdl:message name="SmsFault">
    <wsdl:part name="fault" element="tns:SmsFault"/>
  </wsdl:message>

  <wsdl:portType name="SmsGateway">
    <wsdl:operation name="sendSms">
      <wsdl:input name="SendSmsRequest" message="tns:SendSmsRequest"/>
      <wsdl:output name="SendSmsResponse" message="tns:SendSmsResponse"/>
      <wsdl:fault name="SmsFault" message="tns:SmsFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:service name="SmsGateway">
    <wsdl:port name="SmsGatewayHTTP"
               binding="tns:SmsGatewayHTTPBinding">
      <soap:address location="http://localhost:18008/sms/SmsGateway/v1"/>
    </wsdl:port>
  </wsdl:service>

  <wsdl:binding name="SmsGatewayHTTPBinding"
                type="tns:SmsGateway">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendSms">
      <soap:operation style="document"
                      soapAction="/SmsGateway/sendSms"/>
      <wsdl:input name="SendSmsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SendSmsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SmsFault">
        <soap:fault use="literal" name="SmsFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

</wsdl:definitions>
